.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #800080;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #800080;
}
.btn.btn2{
 display: inline-block;
 background: purple;   
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}