* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--textColor);
}

body {
    background-color: var(--firstColor);
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background-color: var(--firstColor);
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--eyeCatchColor);
}

/*-----------------Sections-General------------------*/
section {
    scroll-snap-align: start;
}

.section-title {
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    color: var(--eyeCatchColor);
    font-size: 32px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section-title.visible {
    opacity: 1;
    transform: translateY(0);
}

/*------------------Footer------------------*/
footer {
    text-align: center;
    background-color: var(--secondColor);
    color: var(--textColor);
    padding: 20px 0;
}

footer p {
    margin-top: 15px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-nav li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

/*------------------Mobile------------------*/
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: var(--firstColor);
        width: 200px;
        border-radius: 8px;
        padding: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .burger {
        display: block;
        font-size: 40px;
    }

    .header-text {
        font-size: 20px;
        padding-left: 10px;
    }

    .header-text h1 {
        font-size: 28px;
    }

    .job-title {
        font-size: 16px;
    }

    .lk-monogram-picture {
        height: 120px;
        width: 120px;
        margin-left: 10px;
    }

    .footer-nav {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer p {
        margin-top: 10px;
        font-size: 14px;
    }

    footer {
        padding: 15px 10px;
    }
}