#about {
    background-color: var(--secondColor);
    height: auto;
}

.about-me {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: var(--textColor);
}

.myImage {
    margin-right: 180px;
    margin-bottom: 0;
    width: 550px;
    height: 750px;
    image-rendering: smooth;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
}

.section-header {
    font-size: 20px;
    color: var(--eyeCatchColor);
    margin: 0;
}

.text-image.left .text-content {
    text-align: left;
}

.text-image.right .text-content {
    text-align: right;
}

.text-image.left {
    flex-direction: row;
}

.text-image.right {
    flex-direction: row-reverse;
}

.header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.about-second-header {
    text-align: center;
    color: var(--eyeCatchColor);
    font-size: 20px;
}

.profile-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-left: 300px;
}

.entry {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    font-size: 16px;
    color: var(--textColor);
    padding-bottom: 60px;
}

.entry i {
    width: 30px;
    text-align: center;
    color: var(--eyeCatchColor);
    font-size: 25px;
}

.text-image {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    flex-direction: row;
    text-align: left;
}

.text-image img {
    width: 100%;
    max-width: 150px;
    height: auto;
    order: 0;
}

.text-image.left img {
    order: 0;
    width: 200px;
}

.text-image.right img {
    width: 200px;
}

.text-image p {
    text-align: justify;
    line-height: 1.7;
    padding-bottom: 40px;
}

/* GLOBALER Anchor Offset für fixed Header */
section {
    scroll-margin-top: 90px;
}

/*------------------Desktop / große Bildschirme------------------*/
@media (min-width: 769px) {
    #about {
        min-height: 145vh;
    }
}

/*------------------Große Laptops / Tablets------------------*/
@media (max-width: 1520px) {
    #about {
        padding-bottom: 60px;
    }

    .header-text h1 span::before {
        content: "\A";
        white-space: pre;
    }

    .text-image img {
        max-width: 100px;
    }
}

/*------------------Tablets / Mobile------------------*/
@media (max-width: 768px) {

    section {
        scroll-margin-top: 112px;
    }

    .profile-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        gap: 20px;
        width: 100%;
    }

    .entry {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .entry i {
        width: 30px;
        text-align: center;
        font-size: 25px;
    }

    .text-image,
    .text-image.right {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .text-image img {
        max-width: 100px;
    }

    .text-content {
        text-align: center;
        max-width: 100%;
    }

    .about-me {
        font-size: 16px;
        gap: 30px;
    }
}